@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@font-face {
  font-family: "La Monarchie";
  src: url(../font/La\ Monarchie\ de\ Saint\ Ombre.ttf) format("truetype");
}

:root {
  --cor-nude: #ffcfac;
  --cor-marrom: #7a462e;

  /*escala de tamanhos fonte*/
  --text-sm: 0.875rem;
  --text-md: 1rem;
  --text-lg: 1.25rem;
  --text-xl: 1.5rem;
  --text-2xl: 2rem;
  --text-3xl: 4rem;

  /*fontes*/
  --fonte-principal: "La Monarchie", cursive;
  --fonte-secundaria: "Outfit", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  height: 100vh;
  background-color: var(--cor-nude);
}

/***********************************************************     fontes      **************************************/

.font-principal-normal {
  font-family: "La Monarchie", cursive;
  font-weight: 400;
  font-style: normal;
}

.font-principal-bold {
  font-family: "La Monarchie", cursive;
  font-weight: 700;
  font-style: normal;
}

.fonte-secundaria-normal {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.fonte-secundaria-bold {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.fonte-secundaria-bolder {
  font-family: "Outfit", sans-serif;
  font-weight: 900;
  font-style: normal;
}

/*base de tamanhos para textos e tipos*/

.text-size-sm {
  font-size: 1rem;
}
.text-size-md {
  font-size: 1.5rem;
}
.text-size-lg {
  font-size: 2rem;
}
.text-size-xl {
  font-size: 4rem;
}

.text-sm {
  font-weight: 400;
}
.text-md {
  font-weight: 700;
}
.text-lg {
  font-weight: 900;
}

/*titulos e paragrafos*/
h1 {
  font-family: var(--fonte-secundaria);
  font-size: var(--text-3xl);
}

h2 {
  font-family: var(--fonte-secundaria);
  font-size: var(--text-xl);
}

h3 {
  font-family: var(--fonte-secundaria);
  font-size: var(--text-sm);
  letter-spacing: 2px;
}

p {
  font-family: var(--fonte-secundaria);
  font-size: var(--text-sm);
  line-height: 1.6;
  text-indent: 20px;
}

span {
  font-family: var(--fonte-secundaria);
}
/*****************************************************************************/
